@font-face {
	font-family: 'License Plate';
	src: url('../LicensePlate.ttf');
}

html, body {
	--color1: #01447b;
	--color2: #ffc706;
	--color3: coral;
	--line-height: 1.25em;
	--spacing: 1.5rem;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	margin: 0;
	background: #ddd;
	/* filter: blur(10px); */
}

* {
	font-family: 'Saira Semi Condensed', sans-serif;
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
}

.link-btn {
	--dimension: 3.8rem;
	position: absolute;
	bottom: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--dimension);
	width: var(--dimension);
	font-size: 1.5rem;
	border: 0.3rem solid var(--color1);
	border-radius: 999rem;
	background: white;
	color: var(--color3);
	transition: all 0.05s;
}
.link-btn:hover {transform: scale(1.1) rotate(10deg);}