html, body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	touch-action: manipulation;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: var(--font1);
	font-size: 15px;
	font-weight: 500;
	margin: 0;
	background: var(--color1);
	color: var(--color4);
}

* {
	padding: 0;
	margin: 0;
	/* transition: all var(--transition); */
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
}

.car-background {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

main {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type="radio"] {display: none;}

button {
	font-family: var(--font1);
}

.show {
	opacity: 1 !important;
	pointer-events: all !important;
}



/* Buttons */
.big-text {
	position: relative;
	text-transform: uppercase;
}
.big-text > div:nth-child(1) {
	position: absolute;
	color: var(--color2);
	-webkit-text-stroke: 0.15em var(--color2);
	filter: drop-shadow(0 0.15em 0 var(--color2));
	z-index: 10;
}
.big-text > div:nth-child(2) {
	color: var(--color4);
	z-index: 11;
}

.btn {
	display: flex;
	flex-direction: column;
	border: 0;
	border-radius: 0.5rem;
	color: var(--color4);
	cursor: pointer;
	overflow: hidden;
	text-decoration: none;
}
.btn svg {margin-right: 1rem;}

.btn-pic-container {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.btn-pic {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.btn-tag {
	justify-content: center;
	align-items: center;
	height: 4.5rem;
	width: 100%;
	font-family: var(--font1);
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	background: var(--color2);
	color: var(--color4);
}

.circle-btn {
	--dimension: 4rem;
	position: absolute;
	bottom: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--dimension);
	width: var(--dimension);
	font-size: calc(var(--dimension) / 2);
	border-radius: 999rem;
	background: var(--color3);
	color: var(--color4);
	cursor: pointer;
}

.special-hover {transition: all var(--transition);}
.special-hover:hover {
	outline: 4px solid var(--color4);
	transform: scale(1.05);
}



/* This has to be down here */
.flex-show {display: flex !important;}