:root {font-size: 8px;}

.word-input {margin: 5rem 0;}

.btn {
	width: 40rem;
	font-size: 18px;
	border-width: 2px;
}
.btn kbd {display: none;}
.btn:hover {transform: scale(1);}
.btn ~ .btn {margin-top: 1rem;}