/* General Styles */
:root {font-size: 8px;}

.body-block {padding: 3rem;}



/* Play */
.intro-container {width: calc(100% - 6rem);}

.word-input {margin: 5rem 0;}

.submit-btn {display: none;}

.keyboard {display: flex;}



/* Search */
.letter-input::placeholder {font-size: 3rem;}

.filtered-container, .all-container {font-size: 1.6rem;}

.filtered-container {
	flex-direction: column;
	width: 40rem;
	padding: 0;
	margin: 0;
	border: 0;
	background: transparent;
}

.immediate-container {
	width: 100%;
	margin: 0;
}

.properties-container {
	width: 100%;
	margin-top: var(--container-spacing);
}