body {
	--spacing: 1rem;
	--word-margin-v: 0.1rem;
	--word-margin-h: 0.5rem;
	font-size: 1.2rem;
}

/* Letter Input */
.letter-input {
	--font-size: 9rem;
	display: flex;
	align-items: center;
	text-align: center;
	width: 100%;
	font-family: 'License Plate';
	font-size: var(--font-size);
	margin-bottom: var(--spacing);
	border: 0;
	outline: 0;
	background: transparent;
	color: var(--color1);
}
.letter-input::placeholder {
	font-family: 'Saira Semi Condensed', sans-serif;
	font-size: calc(var(--font-size) / 2);
	font-weight: 600;
	color: #999;
}



/* Filtered Container */
.filtered-container {
	position: relative;
	display: flex;
	align-items: center;
	color: var(--color1);
	line-height: var(--line-height);
}

.immediate-container, .properties-container > * {
	padding: calc(1.5 * var(--spacing));
	border: var(--border-width) solid var(--color1);
	border-radius: 1rem;
	background: white;
}

.immediate-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	height: 100%;
	width: 25rem;
	margin-right: var(--spacing);
}

.word-count {margin-bottom: var(--spacing);}

.sample-word-list {
	--word-lines: 7;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: start;
	height: calc(var(--word-lines) * var(--line-height) + 2 * var(--word-lines) * var(--word-margin-v));
	overflow-y: hidden;
}

.filtered-word {margin: var(--word-margin-v) var(--word-margin-h);}

.show-all-btn {
	visibility: hidden;
	width: 100%;
	padding: 0.5rem 0;
	margin-top: var(--spacing);
	border-radius: 0.4rem;
	transition: all 0.1s;
	cursor: pointer;
}
.show-all-btn:hover {
	background: var(--color3);
	color: white; 
}



/* Properties */
.properties-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
}

.properties-container > * {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	white-space: nowrap;
}
.middlest-container {margin: var(--spacing) 0;}

.actual-count,
.sample-word-list,
.properties-container > * > *:nth-child(2),
.all-word-list {
	color: var(--color3);
}



/* Show All Words */
.body-block {
	position: absolute;
	height: 100%;
	width: 100%;
	display: none;
	flex-direction: column;
	align-items: center;
	padding: 3rem 5rem;
	padding-top: 4rem;
	background: #0002;
	overflow-y: scroll;
}

.all-container {
	position: relative;
	text-align: center;
	opacity: 1;
	padding: calc(2 * var(--spacing));
	border: var(--border-width) solid var(--color1);
	border-radius: var(--spacing);
	background: white !important;
}

.sort-container {
	display: flex;
	justify-content: center;
	margin-bottom: var(--spacing);
}

.sort-container label {
	opacity: 0.5;
	padding: calc(var(--spacing) / 2) var(--spacing);
	border-radius: 0.4rem;
	transition: all 0.1s;
	cursor: pointer;
}
.sort-container label:hover {opacity: 1;}
input[name="sort"]:checked + label {
	opacity: 1;
	background: var(--color3);
	color: white;
}

.all-word-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.close-all-btn {
	top: calc(var(--dimension) / -2);
	right: calc(var(--dimension) / -2);
}

.show-dialogue > *:not(.body-block) {filter: blur(0.5rem);}
.show-dialogue .body-block {display: flex;}



/* Game Link */
.game-link {
	bottom: 2rem;
	left: 2rem;
}