:root {
	/* Colors */
	--color1: #090821;
	--color2: #201e31;
	--color3: #312f44;
	--color4: #fc2f70;
	--color5: maroon;

	--color1: #58608f;
	--color2: #7580BF;
	--color3: #9AA3D9;
	--color4: #BBC8F2;
	--color5: maroon;

	--color1: #173f5f;
	--color2: #20639b;
	--color3: #3caea3;
	--color4: #f6d55c;
	--color5: #ed553b;

	/* Fonts */
	--font1: "Ciutadella Rounded";
	--font2: "Gimbo";
	--font3: "License Plate";

	/* Container Variables */
	--line-height: 1.25em;
	--container-border-width: 0.4rem;
	--container-spacing: 1.8rem;
	--transition: 0.1s;

	/* Input Variables */
	--input-spacing: 0.4rem;
	--input-radius: 0.35rem;
	--input-skew: -9deg;
}